#texte_footer2{
  padding-left: 60px;
  font-size:1.0em;
  color:white;


}

#logo_reseaux{
  margin:0;
  width: 350px;
}

#texte_footer{
    text-align: center;
    font-size:1.4em;
    color:white;
}

body{
    height:100%;
}

main{
    min-height:71vh;
}

footer{
    background-color:#789BFF;
    padding:30px;
    min-height: 10vh;
}
