#calendar {
    max-width: 900px;
    margin: 0 auto;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #789BFF !important;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #789BFF !important;
}

.contenu_page {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

main{
    margin:30px 0;
}

.bloc_images_accueil{
    margin-top:10px;
}

#nom_prenom_profil{
    font-size:1.5em;
    font-weight: bold;
}

#bloc_paragraphes_index{
    margin-top:50px;
}

.bloc_center{
    display: block;
    margin:0 auto;
}

.text_center{
    text-align: center;
}