#calendar {
    max-width: 900px;
    margin: 0 auto;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #789BFF !important;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #789BFF !important;
}

.contenu_page {
  width: 700px;
  margin: 0 auto;
  padding: 20px;

}
